{% extends 'core/base.html' %}

{% block content %}
  <div class="jumbotron">
    <h1>Laboriosa 89</h1>
  </div>

  <div class="jumbotron">
    {% if not user.is_authenticated %}
      <p>Entre com o Facebook e faça sua contribuição recorrente para a manutenção do Lab89.</p>
      <br>
      <a href="{% url 'social:begin' backend=backends.backends.0 %}" class="btn btn-large btn-primary">Login com Facebook</a>
    {% else %}
      <a href="{% url 'subscription_new' %}" class="btn btn-large btn-success">Assinatura Mensal</a>
    {% endif %}
  </div>
{% endblock content %}
